.itemDetailContainer {
    background-color: white;
    padding-top: 66px;
    padding-bottom: 66px;
    width: 100%;
    margin: auto;
    transform: translateY(-8px);

    .contenedor-de-todo {
        cursor: pointer;

        .contenedor-del-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .primera-mitad {
                width: 49.8%;
                height: 70px;
                padding-left: 15%;
                background-color: #A4A4A4;

                .interior-superior {
                    background-color: #A4A4A4;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 83px;
                    width: 100%;

                    .contenedor-icono {
                        margin: 0px 15.6px;
                        border-radius: 100%;
                        background-color: #FFFFFF;

                        .icono {
                            width: 22px;
                            height: 22px;
                            color: #959AA6;
                        }
                    }

                    .cont {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            color: white;
                            font-size: 24px;
                            font-weight: 800;
                            margin-bottom: 0px;
                            width: 100px;
                        }
                    }

                    .cont-nombre {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0px 12px;

                        p {
                            font-size: 24px;
                            font-weight: 600;
                            color: #616161;
                            margin-bottom: 0px;
                            width: 170px;
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }
            }

            .segunda-mitad {
                padding-right: 15%;

                .segunda-mitad-superior {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .cont-nombre {

                        p {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }


        .parte-de-bajo {
            background-color: #A4A4A4;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img-img {
                background-color: #A4A4A4;
                height: 55px;
                border: none;

                img {
                    height: 55px;
                    background-color: #A4A4A4;
                    border: none;
                }
            }

            .img-izquierda {
                transform: rotate(-180deg);
                padding-right: 16%;
                border: none;
            }

            .img-derecha {
                padding-left: 16%;
                transform: rotate(-180deg);
                border: none;
            }

            .parte-media {
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border: none;
                cursor: auto;

                .nombre-pokemon {
                    color: black;
                    font-size: 36px;
                    margin-bottom: 0px;
                }

                .id-pokemon {
                    color: #616161;
                    font-size: 36px;
                    margin-bottom: 0px;
                    margin: 0px 0px 0px 4.5px;
                }
            }
        }
    }

    .contenedor-card-detail {
        background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cont-mayor {
            margin: auto;
            background-color: white;
            padding: 70px 14px;
            width: 912px;
            display: flex;
            justify-content: space-between;

            .contenedor-mayor {
                width: 49%;

                .img-img-img {
                    border-radius: 5px;

                    img {
                        border-radius: 5px;
                        background-color: #F2F2F2;
                        width: 100%;
                        height: 100%;
                    }
                }

                .contenedor-de-estadisticas {
                    background-color: #A4A4A4;
                    margin: 16px 0px;
                    border-radius: 5px;
                    height: 300px;
                    padding: 12px 24px;

                    .titulo-titulo {
                        margin-bottom: 24px;

                        .titulo-puntos {
                            color: #212121;
                            font-size: 16px;
                            font-weight: 400;
                            margin-bottom: 0px;
                            font-weight: 500;
                        }
                    }

                    .contenedor-gigante-puntos-base {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .estadisticas {
                            width: 13.8%;

                            .caja-estadisticas {
                                background-color: white;
                                width: 100%;
                                height: 8px;
                                margin-bottom: 4px;
                            }

                            .caja-estadisticas-texto {
                                margin: 0px;
                                color: #212121;
                                font-size: 12px;
                                text-align: center;
                                font-weight: 700;
                                line-height: 1;
                            }
                        }
                    }
                }
            }

            .contenedor-mayor-segundo {
                display: flex;
                flex-direction: column;
                width: 49%;

                p {
                    font-size: 18px;
                    color: #212121;
                    margin: 9px 0px;
                }

                .datos {
                    margin-top: 50px;
                    background-color: #30A7D7;
                    border-radius: 5px;
                    width: 100%;
                    height: 243px;
                    display: flex;

                    .datos-fisicos {
                        width: 50%;
                        align-items: center;
                        padding-top: 6px;

                        .texto-blanco {
                            color: white;
                            font-size: 18px;
                            font-weight: 400;
                            margin-top: 10px;
                            margin-left: 20px;
                        }

                        .texto-negro {
                            color: #212121;
                            font-size: 18px;
                            font-weight: 500;
                            margin-top: 8px;
                            margin-left: 20px;
                        }
                    }
                }

                .contenedor-de-tipos {
                    display: flex;
                    flex-direction: column;

                    .titulo-tipo-debilidad {
                        margin: 25px 0px 10px;
                        color: #212121;
                        font-size: 20px;
                        font-weight: 400;
                    }

                    .tipos {
                        display: flex;
                        flex-wrap: wrap;
                        column-count: 3;

                        .div-tipos {
                            background-color: orange;
                            border-radius: 5px;
                            width: 128px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 8px;
                            margin-top: 8px;

                            p {
                                font-size: 16px;
                                margin: 8px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .contenedor-evoluciones-involuciones {
        background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
        width: 100%;
        background-color: white;

        .interior-contenedor-evoluciones-involuciones {
            background-image: url('/img/fondo-gris.png');
            margin: auto;
            width: 880px;
            border-radius: 5px;
            padding-bottom: 30px;

            .title-evoluciones {
                padding: 22px 0px 0px 22px;

                .title {
                    font-size: 22px;
                    color: white;
                    font-weight: 400;
                }
            }

            .contenedor-imagenes {
                display: flex;
                justify-content: space-evenly;
                padding: 0px 22px;

                .imagen {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .im-img {
                        border: solid 5px white;
                        border-radius: 100%;
                        padding: -10px;

                        img {
                            width: 160px;
                            height: 160px;
                        }
                    }

                    .nombre {
                        margin: 15px;
                        display: flex;
                        align-items: center;

                        .nombre-texto {
                            font-size: 20px;
                            color: white;
                            margin-right: 5px
                        }

                        .id-texto {
                            font-size: 20px;
                            color: #A4ACAF;
                        }
                    }

                    .tipos {
                        display: flex;

                        .contenedor-tipo {
                            width: 86px;
                            height: 18px;
                            padding: 3px 0px;
                            margin-right: 4px;
                            border-radius: 5px;

                            p {
                                font-size: 12px;
                                text-align: center;
                                transform: translateY(-2px);
                            }
                        }
                    }
                }

                .contenedor-flecha-derecha {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 170px;

                    .icono {
                        color: white;
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }

        .contenedor-boton-pokedex {
            margin: auto;
            width: 880px;

            .contenedor {
                display: flex;
                justify-content: flex-end;
                padding-top: 32px;
                background-color: white;

                .boton-pokedex {
                    background-color: #EE6B2F;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 16.8px;
                    font-weight: 600;
                    border-radius: 5px;
                    width: 166px;
                    height: 45px;

                    &:hover {
                        background-color: #DA471B;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .itemDetailContainer {
        background-color: white;
        padding-bottom: 66px;
        width: 100%;
        margin: auto;
        transform: translateY(-8px);
        padding-top: 22px;

        .contenedor-de-todo {
            cursor: pointer;

            .contenedor-del-detail {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .primera-mitad {
                    width: 49.8%;
                    height: 63px;
                    padding-left: 0%;
                    background-color: #A4A4A4;

                    .interior-superior {
                        background-color: #A4A4A4;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 63px;
                        // height: 83px;

                        .contenedor-icono {
                            margin: 0px 15.6px;
                            border-radius: 100%;
                            background-color: #FFFFFF;

                            .icono {
                                width: 22px;
                                height: 22px;
                                color: #959AA6;
                            }
                        }

                        .cont {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {
                                color: white;
                                font-size: 20px;
                                font-weight: 800;
                                margin-bottom: 0px;
                                width: 80px;
                            }
                        }

                        .cont-nombre {
                            display: none;

                            p {
                                display: none;
                                font-size: 24px;
                                font-weight: 600;
                                color: #616161;
                                margin-bottom: 0px;
                                width: 120px;
                                display: flex;
                                justify-content: flex-start;
                            }
                        }
                    }
                }

                .segunda-mitad {
                    padding-right: 0;

                    .segunda-mitad-superior {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .cont-nombre {
                            display: none;

                            p {
                                display: none;
                            }
                        }
                    }
                }
            }

            .parte-de-bajo {
                background-color: #A4A4A4;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .img-img {
                    background-color: #A4A4A4;
                    height: 55px;
                    border: none;
                    display: none;

                    img {
                        background-color: #A4A4A4;
                        height: 55px;
                        border: none;
                    }
                }

                .img-izquierda {
                    transform: rotate(-180deg);
                    padding-right: 16%;
                    border: none;
                }

                .img-derecha {
                    padding-left: 16%;
                    transform: rotate(-180deg);
                    border: none;
                }

                .parte-media {
                    background-color: white;
                    width: 100%;
                    border: none;
                    cursor: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    padding-top: 6px;

                    .nombre-pokemon {
                        color: black;
                        font-size: 28px;
                        font-weight: 500;
                        margin-bottom: 0px;
                    }

                    .id-pokemon {
                        color: #616161;
                        font-size: 28px;
                        margin-bottom: 0px;
                        margin: 0px 0px 0px 10px;
                    }
                }
            }
        }

        .contenedor-card-detail {
            background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cont-mayor {
                margin: auto;
                background-color: white;
                padding: 36px 14px;
                display: flex;
                flex-direction: column;
                width: 90%;

                .contenedor-mayor {
                    width: 100%;

                    .img-img-img {
                        border-radius: 5px;

                        img {
                            border-radius: 5px;
                            background-color: #F2F2F2;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .contenedor-de-estadisticas {
                        background-color: #A4A4A4;
                        margin: 16px 0px;
                        border-radius: 5px;
                        height: 300px;
                        padding: 12px 24px;

                        .titulo-titulo {
                            margin-bottom: 24px;

                            .titulo-puntos {
                                color: #212121;
                                font-size: 16px;
                                font-weight: 400;
                                margin-bottom: 0px;
                                font-weight: 500;
                            }
                        }

                        .contenedor-gigante-puntos-base {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            .estadisticas {
                                width: 13.8%;

                                .caja-estadisticas {
                                    background-color: white;
                                    width: 100%;
                                    height: 8px;
                                    margin-bottom: 4px;
                                }

                                .caja-estadisticas-texto {
                                    margin: 0px;
                                    color: #212121;
                                    font-size: 12px;
                                    text-align: center;
                                    font-weight: 700;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }

                .contenedor-mayor-segundo {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    p {
                        font-size: 18px;
                        color: #212121;
                        margin: 9px 0px;
                    }

                    .datos {
                        margin-top: 50px;
                        background-color: #30A7D7;
                        border-radius: 5px;
                        width: 100%;
                        height: 392px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0px 0px 0px 0px;

                        .datos-fisicos {
                            width: 100%;
                            padding-top: 6px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;

                            .texto-blanco {
                                color: white;
                                font-size: 18px;
                                font-weight: 400;
                                margin-top: 10px 0px 0px 0px;
                                margin-bottom: 0px;
                            }

                            .texto-negro {
                                color: #212121;
                                font-size: 18px;
                                font-weight: 600;
                                margin-top: 10px 0px 0px 0px;
                                margin-bottom: 0px;
                            }
                        }
                    }

                    .contenedor-de-tipos {
                        display: flex;
                        flex-direction: column;
                        margin-left: 4px;

                        .titulo-tipo-debilidad {
                            margin: 25px 0px 10px;
                            color: #212121;
                            font-size: 20px;
                            font-weight: 400;
                        }

                        .tipos {
                            display: flex;
                            flex-wrap: wrap;
                            column-count: 3;

                            .div-tipos {
                                background-color: orange;
                                border-radius: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 8px;
                                margin-top: 8px;
                                height: 32px;
                                width: 207.5px;

                                p {
                                    font-size: 16px;
                                    margin: 8px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }

        .contenedor-evoluciones-involuciones {
            background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
            width: 90%;
            background-color: white;
            margin: auto;

            .interior-contenedor-evoluciones-involuciones {
                background-image: url('/img/fondo-gris.png');
                border-radius: 5px;
                margin: auto;
                width: 98%;
                padding-bottom: 34px;

                .title-evoluciones {
                    padding: 22px 0px 0px 22px;

                    .title {
                        font-size: 22px;
                        color: white;
                        font-weight: 400;
                    }
                }

                .contenedor-imagenes {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 22px;

                    .imagen {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .im-img {
                            border: solid 5px white;
                            border-radius: 100%;
                            padding: -10px;

                            img {
                                width: 160px;
                                height: 160px;
                            }
                        }

                        .nombre {
                            margin: 15px;
                            display: flex;
                            align-items: center;

                            .nombre-texto {
                                font-size: 20px;
                                color: white;
                                margin-right: 5px
                            }

                            .id-texto {
                                font-size: 20px;
                                color: #A4ACAF;
                            }
                        }

                        .tipos {
                            display: flex;

                            .contenedor-tipo {
                                width: 138.52px;
                                height: 18px;
                                padding: 3px 0px;
                                margin-right: 4px;
                                border-radius: 5px;

                                p {
                                    font-size: 12px;
                                    text-align: center;
                                    transform: translateY(-2px);
                                }
                            }
                        }
                    }

                    .contenedor-flecha-derecha {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: rotate(90deg);
                        height: 48px;
                        margin-top: 16px;
                        margin-bottom: 16px;

                        .icono {
                            color: white;
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }

            .contenedor-boton-pokedex {
                background-color: white;
                margin: auto;
                width: 100%;

                .contenedor {
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 44px;
                    background-color: white;
                    width: 99%;

                    .boton-pokedex {
                        background-color: #EE6B2F;
                        border: none;
                        outline: none;
                        color: white;
                        font-size: 16.8px;
                        font-weight: 600;
                        border-radius: 5px;
                        width: 166px;
                        height: 45px;

                        &:hover {
                            background-color: #DA471B;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }
    }
}