.itemListContainer {
    background-color: white;
    width: 913px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;

    .contenedor-item-list {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 875px;
        margin: auto;

        .sorprendeme {
            background-color: #30A7D7;
            width: 346px;
            height: 50px;
            cursor: pointer;
            padding: 12.6px 21px 11.34px;
            border-radius: 5px;
            display: flex;
            justify-content: center;

            .contenedor-icon {
                margin-right: 3px;

                .icono {
                    transform: translateY(2px);
                }
            }

            .contenedor-texto {
                margin-left: 3px;

                .texto-sorprendeme {
                    color: white;
                    font-weight: 600;
                    font-size: 18.8px;
                    margin-bottom: 0px;
                }
            }

            &:hover {
                background-color: #1B82B1;
                transition: 0.2s;
            }
        }

        .filtro {
            display: flex;

            .ordenar {

                .texto-ordenar {
                    font-size: 22px;
                    margin: 10px 15px 10px 0px;
                    color: #A4A4A4;
                }
            }

            .filtro-busqueda {
                padding: 8px 0px;
                background-color: #313131;
                cursor: pointer;
                width: 270px;
                height: 40px;
                border-radius: 5px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .img-filtro {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(15px);

                    .img-img {
                        margin-right: 10px;

                        .icono {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .texto-filtro-contenedor {
                        border-radius: 5px;

                        .texto-filtro {
                            font-weight: 500;
                            font-size: 18px;
                            color: white;
                            margin-bottom: 0px;
                        }
                    }
                }

                .more {
                    width: 36px;
                    height: 39px;
                    padding: 16px 12px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .cont {}

                    &:hover {
                        background-color: black;
                        transition: 0.2s;
                    }
                }
            }

            .contenido-filtro {
                position: absolute;
                border-radius: 5px;
                background-color: #616161;
                z-index: 1001;
                width: 270px;
                transform: translateY(114px);

                .contenido {
                    padding: 12px 8.40px 10.8px;
                    background-color: #616161;
                    border-radius: 5px;

                    .contenido-filtro-texto {
                        color: white;
                        margin: 0px;
                        padding: 0px;
                    }

                    &:hover {
                        background-color: #313131;
                        transition: 0.1s;
                    }
                }
            }
        }
    }

    .card-container {
        background-color: white;
        width: 913px;
        margin-top: 50px;

        .container-container {
            width: 875px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
                width: 203px;
                height: 286.8px;
                border: none;
                margin: 0px 6.8px 50px;


                .img-img-img {
                    width: 205.2px;
                    height: 205.2px;
                    background-color: #F2F2F2;
                    border-radius: 5px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .contenido-del-pokemon {
                    margin-left: 14.9px;

                    .id {
                        margin: 6.4px 0px;
                        padding: 2px 0px 0px;
                        font-size: 12.8px;
                        font-weight: 600;
                        color: #919191;
                        margin-bottom: 0px;
                    }

                    .nombre-pokemon {
                        margin: 11.6px 0px 5px;
                        font-size: 24px;
                        color: #313131;
                        margin-bottom: 0px;
                    }

                    .tipos {
                        display: flex;
                        align-items: center;

                        .tipo {
                            margin-right: 2px;
                            width: 73.4px;
                            height: 18px;
                            background-color: #9BCC50;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;

                            .tipo-texto {
                                margin-bottom: 0px;
                                font-size: 11px;
                                transform: translateY(1px);
                            }
                        }
                    }
                }
            }
        }
    }

    .boton-cargar-pokemons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;

        .boton-cargar {
            background-color: #30A7D7;
            border: none;
            border-radius: 5px;
            outline: none;
            color: white;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 0px;
            padding: 12px 20px 10.5px;
            margin: 16px;

            &:hover {
                background-color: #1B82B1;
                transition: 0.2s;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .itemListContainer {
        margin: auto;
        width: 94vw;
        padding: 0;
        margin: 0;

        .card-container {
            margin: auto;
            width: 90vw;
            margin-top: 50px;

            .container-container {
                width: 90vw;
                margin: auto;

                .card {
                    width: 30%;
                    height: auto;
                    margin-bottom: 28px;

                    .img-img-img {
                        width: 100%;
                        height: 100%;
                    }

                    .contenido-del-pokemon {

                        .id {
                            margin: 6.4px 0px;
                            padding: 2px 0px 0px;
                        }

                        .nombre-pokemon {
                            font-size: 18.4px;
                            font-weight: 500;
                            margin: 9.2px 0px 5px;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 510px) and (max-width: 767px) {
    .itemListContainer {
        margin: 0;
        margin: auto;
        width: 94vw;
        padding: 0;

        .card-container {
            margin: auto;
            width: 90vw;
            margin-top: 50px;

            .container-container {
                width: 90vw;
                margin: auto;

                .card {
                    width: 47%;
                    height: auto;
                    margin-bottom: 28px;

                    .img-img-img {
                        width: 100%;
                        height: 100%;
                    }

                    .contenido-del-pokemon {

                        .id {
                            margin-top: 0px;
                        }

                        .nombre-pokemon {
                            font-size: 18.4px;
                            font-weight: 500;
                            margin: 9.2px 0px 5px;
                        }

                        .tipos {

                            .tipo {
                                width: 110px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 510px) and (max-width: 960px) {
    .itemListContainer {

        .contenedor-item-list {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90vw;
            margin: auto;

            .sorprendeme {
                padding: 12.6px 21px 11.34px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                height: 50px;
                width: 80%;

                .contenedor-icon {
                    margin-right: 3px;

                    .icono {
                        transform: translateY(2px);
                    }
                }

                .contenedor-texto {
                    margin-left: 3px;

                    .texto-sorprendeme {
                        color: white;
                        font-weight: 600;
                        font-size: 16.8px;
                        margin-bottom: 0px;
                    }
                }

                &:hover {
                    background-color: #1B82B1;
                    transition: 0.2s;
                }
            }

            .filtro {
                display: flex;
                flex-direction: column;
                width: 80%;

                .ordenar {

                    .texto-ordenar {
                        font-size: 21px;
                        margin: 12px 15px 0px 0px;
                        color: #A4A4A4;
                    }
                }

                .filtro-busqueda {
                    padding: 8px 0px;
                    background-color: #313131;
                    cursor: pointer;
                    border-radius: 5px;
                    margin-top: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 40px;
                    // width: 270px;
                    width: 100%;

                    .img-filtro {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translateX(15px);

                        .img-img {
                            margin-right: 10px;

                            .icono {
                                // width: 30px;
                                // height: 30px;
                                width: 26px;
                                height: 26px;
                            }
                        }

                        .texto-filtro-contenedor {
                            border-radius: 5px;

                            .texto-filtro {
                                font-weight: 500;
                                font-size: 16px;
                                color: white;
                                margin-bottom: 0px;
                            }
                        }
                    }

                    .more {
                        width: 36px;
                        height: 39px;
                        padding: 16px 12px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }

                .contenido-filtro {
                    position: absolute;
                    border-radius: 5px;
                    background-color: #616161;
                    z-index: 1001;
                    transform: translateY(114px);
                    width: 270px;

                    .contenido {
                        padding: 12px 8.40px 10.8px;
                        background-color: #616161;
                        border-radius: 5px;

                        .contenido-filtro-texto {
                            color: white;
                            margin: 0px;
                            padding: 0px;
                        }

                        &:hover {
                            background-color: #313131;
                            transition: 0.1s;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 509px) {
    .itemListContainer {
        padding: 0px;
        width: 60vw;
        margin: 0px 20px;

        .contenedor-item-list {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90vw;
            margin: auto;

            .sorprendeme {
                padding: 12.6px 21px 11.34px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                height: 50px;
                width: 94%;

                .contenedor-icon {
                    margin-right: 3px;

                    .icono {
                        transform: translateY(2px);
                    }
                }

                .contenedor-texto {
                    margin-left: 3px;

                    .texto-sorprendeme {
                        color: white;
                        font-weight: 600;
                        font-size: 16.8px;
                        margin-bottom: 0px;
                    }
                }

                &:hover {
                    background-color: #1B82B1;
                    transition: 0.2s;
                }
            }

            .filtro {
                display: flex;
                flex-direction: column;
                width: 94%;

                .ordenar {

                    .texto-ordenar {
                        font-size: 21px;
                        margin: 12px 15px 0px 0px;
                        color: #A4A4A4;
                    }
                }

                .filtro-busqueda {
                    padding: 8px 0px;
                    background-color: #313131;
                    cursor: pointer;
                    border-radius: 5px;
                    margin-top: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 40px;
                    width: 100%;

                    .img-filtro {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translateX(15px);

                        .img-img {
                            margin-right: 10px;

                            .icono {
                                width: 26px;
                                height: 26px;
                            }
                        }

                        .texto-filtro-contenedor {
                            border-radius: 5px;

                            .texto-filtro {
                                font-weight: 500;
                                font-size: 16px;
                                color: white;
                                margin-bottom: 0px;
                            }
                        }
                    }

                    .more {
                        width: 36px;
                        height: 39px;
                        padding: 16px 12px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }

                .contenido-filtro {
                    position: absolute;
                    border-radius: 5px;
                    background-color: #616161;
                    z-index: 1001;
                    transform: translateY(114px);
                    width: 100px;

                    .contenido {
                        padding: 12px 8.40px 10.8px;
                        background-color: #616161;
                        border-radius: 5px;

                        .contenido-filtro-texto {
                            color: white;
                            margin: 0px;
                            padding: 0px;
                        }

                        &:hover {
                            background-color: #313131;
                            transition: 0.1s;
                        }
                    }
                }
            }
        }

        .card-container {
            margin: auto;
            width: 90vw;

            .container-container {
                width: 90vw;
                margin: auto;
                margin-top: 50px;

                .card {
                    width: 100%;
                    height: auto;
                    margin-bottom: 46px;

                    .img-img-img {
                        width: 100%;
                        height: 100%;
                    }

                    .contenido-del-pokemon {

                        .id {
                            margin-top: 0px;
                        }

                        .nombre-pokemon {
                            font-size: 18.4px;
                            font-weight: 500;
                            margin: 9.2px 0px 5px;
                        }

                        .tipos {

                            .tipo {
                                width: 110px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }

        .boton-cargar-pokemons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 26px;
            background-color: white;
            width: 90vw;
            margin: auto;

            .boton-cargar {
                width: 100%;
                background-color: #30A7D7;
                border: none;
                border-radius: 5px;
                outline: none;
                color: white;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 0px;
                padding: 12px 20px 10.5px;
                margin: 16px;
            }
        }
    }
}
