.carousel-card {
    background-color: white;
    margin-top: 60px;

    .contenedor-card {
        margin: auto;
        background-color: white;

        .titulo-carta {
            background-color: #232323;
            border-radius: 5px;
            height: 45.16px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 300px;

            .card-dd {
                margin: 0px 10px;
                background-color: transparent;

                .card-icon {
                    color: #918F8A;
                    width: 25px;
                    height: 25px;
                }
            }

            .txt {

                .texto {
                    font-size: 22px;
                    color: #919191;
                    margin-bottom: 0px;
                }
            }
        }

        .carousel-mayor {
            background-color: #333333;

            .contenedor-carousel {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-top: 6px solid #232323;
                padding-top: 8px;

                .flecha-izquierda {
                    width: 76px;
                    height: 92px;
                    z-index: 10000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    background-color: #919191;
                    border-radius: 5px;
                    cursor: pointer;
                    left: 5%;
                    opacity: 0.5;
                    background-color: #313131;

                    .flecha {
                        color: white;
                        width: 90px;
                        height: 90px;
                    }

                    &:hover {
                        opacity: 0.8;
                        transition: 0.2s;
                    }
                }

                .flecha-derecha {
                    width: 76px;
                    height: 92px;
                    z-index: 1010;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    background-color: #919191;
                    border-radius: 5px;
                    cursor: pointer;
                    right: 5%;
                    opacity: 0.5;
                    background-color: #313131;

                    .flecha {
                        color: white;
                        width: 90px;
                        height: 90px;
                    }

                    &:hover {
                        opacity: 0.8;
                        transition: 0.2s;
                    }
                }

                .image-nombre {
                    display: flex;
                    flex-direction: column;

                    .image {

                        img {
                            border-radius: 5px;
                            height: 340px;
                        }
                    }

                    .contenedor-nombre {
                        height: 85px;
                        background-color: #313131;
                        display: flex;
                        align-items: center;

                        .nombre-nombre {
                            margin-left: 16px;

                            .nombre {
                                margin-bottom: 0px;
                                color: white;
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}